<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>

   <link rel="stylesheet" href="/book.css">
</head>
<body>
  <header class="header-book">

    <form action="/book" method="POST">
      <input type=text name="random user">
      <input type="submit" name="submit" value="search inmates">

    </form>
    <a href="/">Log Out</a>
  </header>
</form>
    <div class=container>
        <div class='results'>
        <h2>Search Results:</h2>
          <% results.forEach((inmate) => { %>
          <div>
            <img src="<%= inmate.picture.medium %>" alt="">


            <p><%= inmate.registered %></p>

          <form action="/book/favorites/" method="POST">
            <input type="hidden" name="favorite[picture]" value="<%= inmate.picture.medium %>">
            <input type="hidden" name="favorite[stateNumber]" value="<%= inmate.registered%>">
            <input type="submit" value="create flick book for me">
          </form>
        </div>
         <% }) %>
         </div>

        <div class="fav">

            <h2>FLICK BOOKS:</h2>

            <% for(let i = 0; i < favorites.length; i++){ %>
              <div class="individual">
                <div class="fav-pic">
                <img src="<%= favorites[i].picture %>" alt="" />
                </div>
                <div class="number">
                <h4><%= favorites[i].stateNumber %></h4>
                </div>
                <div class="book">
                </div>
              <form class="" action="/book/favorites"<%= favorites._id %>?_method=DELETE" method="post">
                <input type="submit" name="name" value="Delete">
              </form>
              <button>post</button>
              <button>like</button>
              <button>comment</button>
              <button>share</button>
            </div>
          <% }; %>
      </div>
      </div>
      <footer class="home-footer">
        <div>

          <ul>
            <a href="http://www.facebook.com/codingwithanattitude">Facebook</a>
            <a href="http://www.instagram.com/codingwithanattitude">Instagram</a>
            <a href="http://www.linkedin.com/nattydavis">linkedin</a>
          </ul>
        </div>
       </footer>

      </body>
      </html>



